{% if form.non_field_errors %}
    {% for message in form.non_field_errors %}
            {{ message }}
    {% endfor %}
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <label for="email">Email</label>
    {{ form.email.errors }}
    {{ form.email }}
    
    <label for="password">Password</label>
    {{ form.password.errors }}
    {{ form.password }}
    
    <label for="confirm_password">Confirm Password</label>
    {{ form.confirm_password.errors }}
    {{ form.confirm_password }}

    <input type="submit" value="Sign Up" />
</form>
